<h1>Editing Shop</h1>
<br/>
<%= render 'form', shop: @shop %>
<br/>
<%= link_to 'Show', @shop, class:"btn btn-secondary" %>
<%= link_to 'Delete', @shop, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> 
<%= link_to 'Back', shops_path, class:"btn btn-dark" %>
